// Styles for TodoListComponent
.todo-list
  list-style: none
  padding: 0
  margin: 0
  max-height: 70vh // Ajusta la altura máxima según tus necesidades
  overflow-y: auto
 
li
  padding: 10px
  margin: 5px  
  background-color: #f0f0f0
  border-radius: 4px
  display: flex
  justify-content: space-between
  align-items: center

  &:hover
    background-color: #e0e0e0

.task-text
  font-size: 1rem 

.delete-btn
  background-color: #ff5c5c
  border: none
  padding: 5px 10px
  color: white
  border-radius: 4px
  cursor: pointer

  &:hover
    background-color: #e65555