<h1>Bienvenido a To-Do App</h1>
<div class="app-container">
    <div class="column left">
        <app-add-task (taskAdded)="onTaskAdded($event)"></app-add-task>
    </div>
    <div class="column right">
        <app-todo-list [tasks]="tasks"></app-todo-list>
    </div>
    <div class="delete-all">
        <button (click)="deleteAllTasks()">
            <link rel="stylesheet"
                href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=delete" />
            <span class="material-symbols-outlined">
                delete
            </span>
        </button>
    </div>
</div>