// General styles for the app
body
  font-family: Arial, sans-serif
  margin: 0
  padding: 0
  background-color: #f9f9f9
  color: #333

h1
  text-align: center
  margin: 20px 0
  font-size: 2rem
  color: #5c67ff

.app-container
  display: flex
  justify-content: center
  align-items: flex-start
  gap: 20px
  width: 90%
  max-width: 1000px
  margin: 20px auto
  padding: 20px
  background-color: #ffffff
  border: 1px solid #e0e0e0
  border-radius: 8px
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)
 
 
  

  // Media query for tablets
  @media (max-width: 768px)
    flex-direction: column
    align-items: center

// Column styles
.column
  flex: 1
  padding: 10px

  &.left
    border-right: 1px solid #e0e0e0

    // Media query for tablets
    @media (max-width: 768px)
      border-right: none
      border-bottom: 1px solid #e0e0e0

// Media query for mobile devices
@media (max-width: 480px)
  .app-container
    padding: 10px
    gap: 10px

  h1
    font-size: 1.5rem

  .column
    padding: 5px

  .column.left
    order: -1 // Asegura que la columna izquierda esté sobre la derecha

  .column ul
    padding-left: 20px // Asegura que los ul tengan padding a la izquierda
    list-style-type: disc // Asegura que los ul tengan bullets
    text-align: left // Alinea el texto de los ul a la izquierda
 